/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 10, 2014, 12:25:08 PM
    Author     : ting4900
*/
body {
    width:960px;
    margin:10px auto;
    background-color: azure;
}
img{
    margin-left: 30px;
}
h1{
    background-color: graytext;
    font-family: Impact;
}
img.content{
    margin:0px;
    float: right;
}
a:link{color: red}
a:hover{color:orange}
a:visited{color:red}